$defaultFontSize: 16px;

$primary-color:#0098d3;
$primary-color-hover:#0280b3;
$menu-color-hover:#0280b3;

$font-light: #fff;
$font-grey-leght: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-light:#252527;
$font-dark: #000;

$border-light: #fff;
$border-grey-leght: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-grey-light: #252527;
$border-dark: #000;

$background-light: #fff;
$background-grey-leght: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-dark-light: #252527;
$background-dark: #000;

$background-success: #84b84c1f;
$background-error: #ff00001f;

$success: #84b84c;
$error: #f00;

// Responsive down size 
$media-breackpoint-down-xs: 413.98;
$media-breackpoint-down-sm: 573.98;
$media-breackpoint-down-md: 767.98;
$media-breackpoint-down-lg: 991.98;
$media-breackpoint-down-xl: 1199.98;

// Responsive up size 
$media-breackpoint-up-xs: 320;
$media-breackpoint-up-sm: 576;
$media-breackpoint-up-md: 768;
$media-breackpoint-up-lg: 992;
$media-breackpoint-up-xl: 1200;


/*
$defaultFontSize: 16px;

$primary-color:#0098d3;

$font-light: #fff;
$font-grey-leght: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-light: #252527;
$font-dark: #000;

$border-light: #fff;
$border-grey-leght: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #000;
$border-dark-light: #252527;
$border-dark: #000;

$background-light: #fff;
$background-grey-leght: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #000;
$background-dark-light: #252527;
$background-dark: #000;
$background-success: #84b84c1f;
$background-error: #ff00001f;

$success: #84b84c;
$error: #f00;

// Responsive down size 
$media-breackpoint-down-xs: 413.98;
$media-breackpoint-down-sm: 573.98;
$media-breackpoint-down-md: 767.98;
$media-breackpoint-down-lg: 991.98;
$media-breackpoint-down-xl: 1199.98;

// Responsive up size 
$media-breackpoint-up-xs: 320;
$media-breackpoint-up-sm: 576;
$media-breackpoint-up-md: 768;
$media-breackpoint-up-lg: 992;
$media-breackpoint-up-xl: 1200;
*/